<li>
	{{name}}

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}DEVOUR!{{else}}EAT AGAIN!{{/if}}
	</button>

	<button class="delete-cupcake" data-id="{{this.id}}">DELETE!</button>
</li>
